In [13]:
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv('homeprices.csv')

In [3]:
print(df)

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [4]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [5]:
price =df['price']

In [6]:
price

0    550000
1    565000
2    610000
3    680000
4    725000
Name: price, dtype: int64

In [7]:
print('type of price ',type(price))

type of price  <class 'pandas.core.series.Series'>

In [8]:
new_df = df.drop('price',axis='columns')

In [9]:
print(new_df)

   area
0  2600
1  3000
2  3200
3  3600
4  4000

In [12]:
print('type of area ',type(new_df))

type of area  <class 'pandas.core.frame.DataFrame'>

In [15]:
reg = linear_model.LinearRegression()
reg.fit(new_df,price)
reg.score(new_df,price)

0.9584301138199486

In [17]:
reg.predict([[3200]])

array([615136.98630137])